/* Definição do grid Flexbox */

    /* FLEX CONTAINER */

    .fx-container {display: flex;}

    /* Flex Direction */

    .fxdir-row {flex-direction: row;}
    .fxdir-col {flex-direction: column;}

    /* Flex Wrap */

    .fxwr-wrap {flex-wrap: wrap;}
    .fxwr-nowrap {flex-wrap: nowrap;}

    /* Flex Flow */

    .fxfw-row-wrap {flex-flow: row wrap;}
    .fxfw-row-nowrap {flex-flow: row nowrap;}
    .fxfw-col-wrap {flex-flow: column wrap;}
    .fxfw-col-nowrap {flex-flow: column nowrap;}

    /* Justify Content */

    .justify-start {justify-content: flex-start;}
    .justify-end {justify-content: flex-end;}
    .justify-center {justify-content: center;}
    .justify-between {justify-content: space-between;}
    .justify-around {justify-content: space-around;}
    .justify-evenly {justify-content: space-evenly;}

    /* Align Items */

    .alg-item-stretch {align-items: stretch;}
    .alg-item-start {align-items: flex-start;}
    .alg-item-end {align-items: flex-end;}
    .alg-item-center {align-items: center;}
    .alg-item-baseline {align-items: baseline;}

    /* Align Content */

    .alg-cont-stretch {align-content: stretch;}
    .alg-cont-start {align-content: flex-start;}
    .alg-cont-end {align-content: flex-end;}
    .alg-cont-between {align-content: space-between;}
    .alg-cont-around {align-content: space-around;}
    .alg-cont-evenly {align-content: space-evenly;}

/* GRID */

.width-1 {width: 8.33%;}
.width-2 {width: 16.66%;}
.width-3 {width: 25%;}
.width-4 {width: 33.33%;}
.width-5 {width: 41.66%;}
.width-6 {width: 50%;}
.width-7 {width: 58.33%;}
.width-8 {width: 66.66%;}
.width-9 {width: 75%;}
.width-10 {width: 83.33%;}
.width-11 {width: 91.66%;}
.width-12 {width: 100%;}

.font-size-10 {font-size: 10pt;}
.font-size-12 {font-size: 12pt;}
.font-size-14 {font-size: 14pt;}
.font-size-16 {font-size: 16pt;}
.font-size-18 {font-size: 18pt;}
.font-size-20 {font-size: 20pt;}